name: Build NixOS Configuration

on:
  push:
    branches:
      - main
      - rp
  pull_request:
    branches:
      - main
      - rp
  workflow_dispatch:

jobs:
  check-configuration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: VM Test tohu configuration
        run: nix run github:nix-community/nixos-anywhere -- --flake .#tohu --vm-test

      - name: VM Test hyperv configuration
        run: nix run github:nix-community/nixos-anywhere -- --flake .#hyperv --vm-test
